<!DOCTYPE html>
<html>

<head>
    <meta name="robots" content="noarchive" />
    <meta name="googlebot" content="noarchive">
    <meta name="googlebot-news" content="noarchive">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>minecraft@bitsmasher.net</title>
    <meta name="description" content="bitsmasher.net minecraft page">
    <meta name="author" content="franklin">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/head_foot_wht.js') }}"></script>
</head>

<body>

    <img src="{{ url_for('static', filename='/images/animals.png') }}" alt="minecraft animals" id="mc-pic" />
    <br />
    <a href="/history">HISTORY</a>
    <a href="/status">STATUS</a>

</body>

</html>