<!DOCTYPE html>
<html>

<head>
    <meta name="robots" content="noarchive" />
    <meta name="googlebot" content="noarchive">
    <meta name="googlebot-news" content="noarchive">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>minecraft@bitsmasher.net</title>
    <meta name="description" content="bitsmasher.net minecraft status page">
    <meta name="author" content="franklin">
</head>

<body>
    <h1>Server Status</h1>
    {{ status }}
    <h2>Players</h2>
    {{query}}
    <h2>Latency</h2>
    {{latency}}
</body>

</html>