assets/
bin/
/config/
defaultconfigs/
downloads/
libraries/
logs/
quickPlay/
runtime/
*.log
*.txt
launcher/
launcher_log.txt
launcher_msa_credentials.bin
mods/
versions/
webcache2/
window_settings_launcher.conf
window_settings_xal_login.conf
bootstrap_log.txt
launcher_cef_log.txt
