docs/slides/document.log
.envrc
**/__pycache__/
*.tflite
**/.venv/
**/venv/
# *.log
.tox/

AUTHORS
ChangeLog
NEWS
COPYING
INSTALL
Makefile.old
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
configure~
Makefile.in
aclocal.m4
install-sh
missing
Makefile
