[Unit]
Description="STARGATE: Skynet AI Agent"
After=network.target

[Service]
User=franklin
WorkingDirectory=/home/minecraft/schematics
Environment="RCON_PASS=dinosaurExTraVaGanZa1969" "RCON_PORT=25575"
ExecStart=/usr/bin/python3 skynet_unified.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=stargate-agent

[Install]
WantedBy=multi-user.target
