[Unit]
Description="STARGATE: Skynet AI Agent"
After=network.target

[Service]
User=franklin
WorkingDirectory=/home/minecraft/schematics
Environment="RCON_PASS=dinosaurExTraVaGanZa1969" "RCON_PORT=25575"
ExecStart=/usr/bin/python3 skynet_unified.py
Restart=always
RestartSec=10
StandardOutput=append:/mnt/clusterfs2/workspace/gaming/game-skynet-minecraft/logs/skynet_agent.log
StandardError=append:/mnt/clusterfs2/workspace/gaming/game-skynet-minecraft/logs/skynet_agent.log

[Install]
WantedBy=multi-user.target
