[Unit]
Description=Skynet Unified AI Brain
After=network.target

[Service]
Environment="CHONK_IP=chonk.lab.bitsmasher.net" "RCON_PASS='dinosaurExTraVaGanZa1969%%'" "RCON_PORT=25575"
User=franklin
WorkingDirectory=/home/franklin/workspace/gaming/game-skynet-minecraft/schematic-agent
ExecStart=/home/franklin/workspace/gaming/game-skynet-minecraft/.venv/bin/python3 skynet_unified.py
Restart=always
RestartSec=10
StandardOutput=append:/home/franklin/workspace/gaming/game-skynet-minecraft/logs/skynet_daemon.log
StandardError=append:/home/franklin/workspace/gaming/game-skynet-minecraft/logs/skynet_daemon.log


[Install]
WantedBy=multi-user.target
