[Unit]
Description=Skynet Master Controller
After=network.target

[Service]
Environment="CHONK_IP=chonk.lab.bitsmasher.net" "RCON_PASS=dinosaurExTraVaGanZa1969" "RCON_PORT=25575"
User=franklin
WorkingDirectory=/home/minecraft/game-skynet-minecraft/src/schematics
ExecStart=/home/minecraft/.venv/bin/python3 skynet_unified.py
Restart=always
RestartSec=10
StandardOutput=append:/home/minecraft/logs/skynet_unified.log
StandardError=append:/home/minecraft/logs/skynet_unified.log

[Install]
WantedBy=multi-user.target
